extends layout

block content
  h1(class='col-xs-12 col-sm-12 col-sm-12 col-lg-11') Спасибо за регестрацию!!"
  h3(class='col-xs-12 col-sm-12 col-sm-12 col-lg-11') Ваш логин: #{loginName}
  h3(class='col-xs-12 col-sm-12 col-sm-12 col-lg-11') Ваш пароль: #{password}
  a(type='button' class='btn btn-primary' href='/') Вернуться на главную