@import "./includes/normalize.css";
@import "./includes/bootstrap.css";
.table-striped{
  tbody tr:nth-of-type(odd) {
    background-color: #c4e3f3;
}
}

  .sidebar-enter {
  .sidebar-leave {
    -moz-transition: 1075ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1075ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1075ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -webkit-transition: 1075ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1075ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
  };
};

.sidebar-leave.sidebar-leave-active {
  .sidebar-enter {
    -moz-transform: skewX(45deg) skewY(30deg);
    -ms-transform: skewX(45deg) skewY(30deg);
    -o-transform: skewX(45deg) skewY(30deg);
    -webkit-transform: skewX(45deg) skewY(30deg);
    transform: skewX(45deg) skewY(30deg);
    opacity: 0;
    height: 0;
  };
};

.sidebar-enter.sidebar-enter-active {
  .sidebar-leave {
    -moz-transform: skewX(0deg) skewY(0deg);
    -ms-transform: skewX(0deg) skewY(0deg);
    -o-transform: skewX(0deg) skewY(0deg);
    -webkit-transform: skewX(0deg) skewY(0deg);
    transform: skewX(0deg) skewY(0deg);
    opacity: 1;
    height: 30px;
  };
};

img {
  .mainimg {
    background-image: url('../images/main.jpg');
  };
};

.logo{
  background-image: url('../images/logo2.jpg');
};

.adClass{
  border-bottom-width: 0.2rem;
  border-bottom-color: #990000;
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
};

.price {
  font-size: 2em;
  text-align: center;
  //background-color: rgb(153, 0, 0);
  //color: #cccccc;
};